<a href="https://colab.research.google.com/github/wodnjse/big-data-analysis/blob/main/Python_study_03.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# 리스트 수정
list2 = [37, 23, 10, 33, 29, 40]

# 16의 값을 추가
# append() 사용
list2.append(16)
print(list2)

# + [값] 사용
list3 = list2 + [16]
print (list3)

list4 = list2 + list3
print(list4)

# 리스트 안에 값 확인하기
n = 12
ownership = n in list3  
print(ownership)

n = 10
if n in list3: # if문을 사용하여 list3안에 n(10)이 들어있는지 확인
  print('{}은 있어!'.format(n))

[37, 23, 10, 33, 29, 40, 16]
[37, 23, 10, 33, 29, 40, 16, 16]
[37, 23, 10, 33, 29, 40, 16, 37, 23, 10, 33, 29, 40, 16, 16]
False
10은 있어!

In [ ]:
# 리스트 삭제
# del 사용 
print(list4)

del list4[12]
print(list4)

[37, 23, 10, 33, 29, 40, 37, 23, 10, 33, 29, 40, 16]
[37, 23, 10, 33, 29, 40, 37, 23, 10, 33, 29, 40]

In [ ]:
# remove() 사용
list4.remove(40)
print(list4)

[37, 23, 10, 33, 29, 37, 23, 10, 33, 29]

In [ ]:
# del 리스트이름(인덱스번호)
del(list4[-1])
print(list4)

[37, 23, 10, 33, 29, 40, 16, 37, 23, 10, 33, 29, 40, 16]

In [ ]:
# 실습
# list1 끝에 4가 담기도록 추가
list1 = [1, 2, 3]
list1.append(4)
print(list1)

# list1과 list2에 1, 2, 3, 4, 5, 6을 자유롭게 선언해서 list3을 출력했을 때 [1, 2, 3, 4, 5, 6]이 나오게 하기
list2 = [4, 5, 6]
list3 = list1 + list2
print(list3)

# 조건문을 활용하여 numbers 안에 5가 들어 있으면 5가 들어 있다 라고 출력하게 하기
numbers = 5
if numbers in list3:
  print("5가 들어있다.")

# list1에 1, 2, 3 을 선언하고 2를 삭제하기
# remove() 
list1 = [1, 2, 3]
list1.remove(2)
print(list1)

# del 
list1 = [1, 2, 3]
del list1[1]
print(list1)

# del() 
list1 = [1, 2, 3]
del(list1[1])
print(list1)

[1, 2, 3, 4]
[1, 2, 3, 4, 4, 5, 6]
5가 들어있다.
[1, 3]
[1, 3]
[1, 3]

In [ ]:
# 리스트 고급

list1 = [135, 462, 27, 2753, 234]

# 27이라는 값이 몇번째 인덱스에 있는지 위치를 반환하기
list1.index(27)
print(list1.index(27))

# list1에 없는 값의 인덱스를 찾고자 할 때 결과
"""
---------------------------------------------------------------------------
ValueError                                Traceback (most recent call last)
<ipython-input-44-c04859e9a5d5> in <module>()
      8 # list1에 없는 값의 인덱스를 찾고자 할 때 결과
      9 
---> 10 list1.index(2)

ValueError: 2 is not in list
"""
if 27 in list1:
  print(list1.index(27))

2
2

In [ ]:
list2 = [1, 2, 3] + [4, 5, 6]
list2

list2.extend([9, 10, 11])
list2

print(list1)
list1.insert(2, 16)
print(list1)

[135, 462, 27, 2753, 234]
[135, 462, 16, 27, 2753, 234]

In [ ]:
# 기존 위치에 있던 값이 오른쪽으로 한칸 밀려남. 마지막 위치가 아니라 마지막에서 한칸 앞에 값이 삽입됨
list1.insert(-1, 3000)
list1

[135, 462, 16, 16, 27, 2753, 3000, 3000, 234]

In [ ]:
# 인덱스 값으로 값 추가하기

In [ ]:
# 리스트 정렬

list1.sort()
print(list1)

# 역순 정렬
list1.reverse()
print(list1)

[16, 16, 27, 135, 234, 462, 2753, 3000, 3000]
[3000, 3000, 2753, 462, 234, 135, 27, 16, 16]

In [ ]:
# 실습
# safe_index() 함수 완성하기
# a_list와 정수 값을 매개변수로 받아서 a_list 안에 값이 있으면 인덱스값 반환, 값이 없으면 None 반환
a_list = [1,2,3]

def safe_index(value, a_list):
  if value in a_list:
    return a_list.index(value)
  else:
    return None

value = int(input()) # input()은 모든 값을 str로 지정하기 때문에 int로 변환해줌
safe_index(value, a_list)

3

2