<a href="https://colab.research.google.com/github/wodnjse/big-data-analysis/blob/main/basic/Python_study_05(220321).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# 튜플
# 리스트는 순서가 정해진 값의 집합

In [ ]:
list1 = [1, 2, 3, 4]
list1.append(5)
list1

In [ ]:
# 리스트에서 값 1을 삭제하기

list1.remove
list1.remove(1)
list1

In [ ]:
# 순서가 있고, 변하지 않는 값의 집합은 튜플을 사용하는게 유리함
# 리스트는 대괄호 [], 딕셔너리는 중괄호 {}, 튜플은 소괄호 ()

tuple1 = (1, 2, 3)
print(tuple1)
type(tuple1)

(1, 2, 3)

tuple

In [ ]:
# 튜플 다른 방법으로 만들어 보기
# 괄호를 넣지 않아도 여러개의 값이 부여되면 튜플로 인식

tuple2 = 1, 2, 3
print(tuple2)
type(tuple2)

(1, 2, 3)

tuple

In [ ]:
# 튜플과 일반 변수 비교하기
a = 1
print(a)
print(type(a))

a = 1,
print(a)
print(type(a))

1
<class 'int'>
(1,)
<class 'tuple'>

In [ ]:
#리스트를 이용하여 튜플 만들기

list1=[1,2,3]
print(list1)
tuple3 =tuple(list1)
tuple3

[1, 2, 3]

TypeError: ignored

In [ ]:
list1 = [1,2,3]
print(list1)
list1[1]=4
print(list1)

[1, 2, 3]
[1, 4, 3]

In [ ]:
# 리스트와 튜플의 다른 점
type(tuple3)

In [ ]:
# 튜플에 있는 값 바꿔보기

tuple3[0]=5

#튜플은 값 수정이 불가능하다.

In [ ]:
# 삭제는 가능할까?
del tuple3[2]

NameError: ignored

In [ ]:
# 실습
# 튜플을 선언할 수 있는 다양한 방법 값은 1, 2, 3 으로 부여하기

# 튜플 자료형 이용해서 선언
tuple1 = (1,2,3)
# 여러개의 숫자를 부여해서 선언
tuple2 = 1,2,3
# 리스트형을 튜플로 변환
list3 = [1,2,3]
tuple4 = tuple(list3)

if tuple1 == tuple2 == tuple4:
  print('tuple1, tuple2, tuple4는 모두 같습니다')

TypeError: ignored

In [ ]:
# 패킹과 언패킹
# 패킹: 하나의 변수에 여러 개의 값을 넣는 것
# 언패킹: 패킹된 변수에서 여러개의 값을 꺼내오는 것

a, b = 1, 2
print(a)
print(b)
print(type(a))
print(type(b))

1
2
<class 'int'>
<class 'int'>

In [ ]:
c = (3, 4)
print(c)
print(type(c))

# c의 값을 d와 e라는 변수에 언패킹해서 넣어보겠습니다.

d, e = c
print(d)
print(e)

print(type(c))
print(type(d))
print(type(e))

(3, 4)
<class 'tuple'>
3
4
<class 'tuple'>
<class 'int'>
<class 'int'>

In [ ]:
# d와 e를 f에 패킹

f = d, e
print(type(f))

<class 'tuple'>

In [ ]:
# x = 5 y = 10 그 다음에 x와 y에 들어가 있는 값을 바꿔주세요.
x = 5
y = 10

temp = x
x = y
y = temp

print(x)
print(y)

10
5

In [ ]:
# x = 5 y = 10 그 다음에 x와 y에 들어가 있는 값을 바꿔주세요.
x = 5
y = 10

x, y = y, x

print(x)
print(y)

10
5

In [ ]:
# 튜플 만드는 함수 만들기

def tuple_func():
  return 1, 2

q, w = tuple_func()

print(q)
print(w)

r = tuple_func()
print(r)
type(r)

1
2
(1, 2)

tuple

In [ ]:
# 실습하기
# position을 튜플로 만들기

x = 3
y = 5

position = x, y
print(position)
print(type(position))

In [ ]:
# 실습하기2
# a와 b의 값 변경하기

a = 1
b = 2

a, b = b, a
print(a)
print(b)

2
1

In [ ]:
# while 문

selected = None

while selected not in ['가위', '바위', '보']:
  selected = input('가위, 바위, 보 중에 선택하세요>')

print('선택된 값은: ', selected)

In [ ]:
# while 문

selected = None

if selected not in ['가위', '바위', '보']:
  selected = input('가위, 바위, 보 중에 선택하세요>')

print('선택된 값은: ', selected)

In [ ]:
# for문으로 위의 코드 바꿔보기

patterns = ['가위', '바위', '보']

for i in patterns:
  print(i)

In [ ]:
patterns = ['가위', '바위', '보']

for i in range(3):
  print(patterns[i])

가위
바위
보

In [ ]:
patterns = ['가위', '바위', '보']

for i in range(len(patterns)):
  print(patterns[i])

가위
바위
보

In [ ]:
# 위의 코드를 while문으로 바꿔보기

patterns = ['가위', '바위', '보']

i = 0
while i is not len(patterns):
  print(patterns[i])
  i+=1

가위
바위
보