<a href="https://colab.research.google.com/github/wodnjse/big-data-analysis/blob/main/Python_study_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

print('Hello, World!')

In [ ]:
#변수

이름 = '김재원'
print(이름)

birth_year = '2004'
birth_date = 410

year_and_date = birth_year + str(birth_date)
print(year_and_date)

김재원
2004410

In [ ]:
#조건문

people = 3
apple = 20

if people < apple:
  print("신나는 사과파티!")

if True and True:
  print('True and True는 True입니다.')

신나는 레게파티!
True and True는 True입니다.

In [ ]:
# if문 참/거짓 1
if False:
  print("1")

  if True:
    print('2')

  if False:
    print('3')
  
  print("4")
print("5")

5

In [ ]:
# if문 참/거짓 2
if True:
  print("1")

  if False:
    print("2")

    if True:
      print("3")
  
  if False:
    print("4")

  print("5")
print(6)

1
5
6

In [ ]:
# 직접지정 가위바위보
rock = '바위'
paper = '보'
scissor = '가위'

win = '이겼다'
lose = '졌다'
draw = '비겼다'

me = rock
your = rock

if me == your:
  print(draw)

elif me == rock:
  if your == paper:
    print(lose)
  else:
    print(win)

elif me == paper:
  if your == scissor:
    print(lose)
  else:
    print(win)

elif me == scissor:
  if your == rock:
    print(lose)
  else:
    print(win)

이겼다

In [ ]:
# 각 리스틑의 첫번째 값 출력하기
list1 = ['가위', '바위', '보']
list2 = [37, 23, 10, 29, 40]

print(list1[0])
print(list2[0])

가위
10

In [ ]:
# list1 2번째에 바위 삽입
list1 = [1,2,3,4,5]
list1.insert(1,'바위')
print(list1)

[1, '바위', 2, 3, 4, 5]

In [ ]:
# rainbow 리트스 생성 
rainbow = ['red', 'orange', 'yellow', 'green', 'blue', 'navy', 'purple']

# first_color 변수를 만들어서 rainbow의 첫번재 값 넣어주기
first_color = rainbow[0]
print(f'무지개의 첫번째 색은{first_color}이다.')

last_color = rainbow[-1]
print(f'무지개의 마지막 색은{last_color}')

무지개의 첫번째 색은red이다.
무지개의 마지막 색은purple

In [ ]:
# 리스트 수정
list2 = [37, 23, 10, 33, 29, 40]

list2.append(16)
print(list2)

list3 = list2 + [16]
print(list3)

list4 = list2 + list3
print(list4)

[37, 23, 10, 33, 29, 40, 16]
[37, 23, 10, 33, 29, 40, 16, 16]
[37, 23, 10, 33, 29, 40, 16, 37, 23, 10, 33, 29, 40, 16, 16]