<a href="https://colab.research.google.com/github/wodnjse/big-data-analysis/blob/main/basic/Python_study_07.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [16]:
# 실습
# range를 이용해서 0부터 3까지 출력하는 코드 완성

for i in range(4):
  print(i)

0
1
2
3

In [22]:
# range를 이용해서 무지개 색을 대입하고 순서대로 색을 출력하는 코드를 완성하세요.
# 단 rainbow 리스트에 새로운 값이 추가되더라도 그 값을 모두 출력할 수 있도록 len 이용

rainbow = ['빨', '주', '노', '초', '파', '남', '보']

for i in range(len(rainbow)):
  print(rainbow[i])

빨
주
노
초
파
남
보

In [32]:
# enumerate를 이용해서 무지개 색을 대입하고 순서대로 색을 출력하는 코드를 완성해 보세요.
rainbow = ['빨', '주', '노', '초', '파', '남', '보']

for i, rainbow in enumerate(rainbow):
  print('{}번째 색은 {}'.format(i+1,rainbow))

1번째 색은 빨
2번째 색은 주
3번째 색은 노
4번째 색은 초
5번째 색은 파
6번째 색은 남
7번째 색은 보

In [44]:
# days에는 1월과 12월까지 그 달에 포함된 일수(날짜의 개수)가 정리되어 있습니다.
# for-in문과 range 또는 enumerate를 이용해서 다음과 같이 출력되도록 빈칸을 채워 보세요.

# days 리스트에 1월붜 12월 까지 일 수 리스트 값으로 넣기. 2022년 기준
# 출력 형식 '1월의 날짜 수는 31일 입니다.'

days = [31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31]

for month, days in enumerate(days):
  print('{}월의 날짜 수는 {}일 입니다.'.format(month+1, days)) # format함수 사용
"""
for month, days in enumerate(days):
   print(f"{month+1}월의 날짜 수는 {days}일 입니다.") #f-string 사용
"""

1월의 날짜 수는 31일 입니다.
2월의 날짜 수는 28일 입니다.
3월의 날짜 수는 31일 입니다.
4월의 날짜 수는 30일 입니다.
5월의 날짜 수는 31일 입니다.
6월의 날짜 수는 30일 입니다.
7월의 날짜 수는 31일 입니다.
8월의 날짜 수는 31일 입니다.
9월의 날짜 수는 30일 입니다.
10월의 날짜 수는 31일 입니다.
11월의 날짜 수는 30일 입니다.
12월의 날짜 수는 31일 입니다.

'\nfor month, days in enumerate(days):\n   print(f"{month+1}월의 날짜 수는 {days}일 입니다.") #f-string 사용\n'

In [48]:
# 딕셔너리와 반복문
# seasons 리스트 변수에 봄, 여름, 가을, 겨울 값을 입력하고 출력

seasons = ['봄', '여름', '가을', '겨울']

for seasons in seasons:
  print(seasons)

봄
여름
가을
겨울

In [50]:
# 나이와 이름을 가지는 딕셔너리 만들기

ages = {
    'Tod':35,
    'Jane': 23,
    'Paul': 62
    }

print(ages)

{'Tod': 35, 'Jane': 23, 'Paul': 62}

In [56]:
# 키 반복

for name in ages:
  print(name)

for name in ages.keys():
  print(name)

Tod
Jane
Paul
Tod
Jane
Paul

In [59]:
# 값 반복

for name in ages:
  print(ages[name])

for name in ages.values():
  print(name)

35
23
62
35
23
62

In [84]:
# 이름과 나이 출력하기
# Tod의 나이는 35입니다. 와 같은 형식이 되도록 출력하기
# ages가지고 활용하기
# 딕셔너리의 valus 값을 출력할 때는 '딕셔너리이름[키값]'
    
for name in ages:
  print(f"{name}의 나이는 {ages[name]}입니다.")

Tod의 나이는 35입니다.
Jane의 나이는 23입니다.
Paul의 나이는 62입니다.

In [99]:
# items() 함수 이용하기
# items() 2개의 값을 반환한다 = 튜플로 반환이 된다

print(ages.keys()) # keys: 첫 번째 값
print(ages.values()) # values: 두 번째 값
print(ages.items()) # items: 둘 다 출력

for x, y in ages.items():
  print(f'{x}의 나이는 {y}입니다.')

dict_keys(['Tod', 'Jane', 'Paul'])
dict_values([35, 23, 62])
dict_items([('Tod', 35), ('Jane', 23), ('Paul', 62)])
Tod의 나이는 35입니다.
Jane의 나이는 23입니다.
Paul의 나이는 62입니다.